

<div id="modaldemo3" class="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Message Preview</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    @*<input type="hidden" name="newsId" id="newsId" value="@ViewBag.Lastnews" />*@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title">
                        </div>



                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select  id="secim" class="form-control select2">
                                @foreach (var item in ViewBag.Categories)
                                {
                                    <option  id="category" value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>



                    </div>




                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Author</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="title">
                        </div>



                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Meta Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="title">
                        </div>



                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Meta Keywords</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="keywords" name="title">
                        </div>



                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Routing URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="routingurl" name="title">
                        </div>



                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">HTML Content</label>
                        <div class="col-sm-10">
                            <textarea id="editor1" class="form-control"></textarea>
                        </div>



                    </div>


                </form>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="submit" id="addnews" class="btn btn-indigo">Add</button>
                <button type="button" data-dismiss="modal" class="btn btn-outline-light">Close</button>
            </div>
        </div>
    </div>
</div>


