



<div class="modal" id="deletenewspopup" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-">
                <h3 style="color:black " >Emin Misiniz?</h3>
            </div>
            <input type="text" name="name" id="deletenewsinput" style="display:none" value="" />
            
            <div class="modal-footer">
                <span id="deletetext" style="color:red"></span>
                <button class="btn btn-indigo btn-ok float-left" onclick="newsDelete()" value="Evet" >Evet</button>
                <a asp-action="Index" asp-controller="News"  class="btn btn-outline-light">Kapat</a>

            </div>







        </div>

    </div>


</div>