






<div id="updatenewspopup" class="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Message Preview</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="text" name="name" id="newsid" style="display:none" value="" />
                        </div>

                    </div>


                    @*<input type="hidden" name="newsId" id="newsId" value="@ViewBag.Lastnews" />*@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newstitle">
                        </div>
                    </div>




                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Author</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newsauthor">
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">HTML Content</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="editor2"></textarea>
                        </div>
                    </div>







                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Meta Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="newsdescription">
                            </div>
                        </div>






                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Meta Keywords</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="newskeyword">
                            </div>
                        </div>




                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                                <select id="newscategory" class="form-control select2">
                                    @foreach (var item in ViewBag.Categories)
                                    {
                                        <option id="newscategory" value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>










                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Routing URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="newsroutingurl">
                            </div>
                        </div>



                </form>





            </div><!-- modal-body -->
                <div class="modal-footer">
                    <button type="submit" onclick="newsUpdate()" class="btn btn-indigo">Update</button>
                    <a asp-action="Index" asp-controller="News" class="btn btn-outline-light">Close</a>
                </div>
            </div>
    </div>
</div>











<!--<div class="modal" id="updatenewspopup" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-">
                <h3 style="color:black ">Are You Sure?</h3>
            </div>
            <input type="text" name="name" id="newsid"-->
@*style="display:none"*@
<!--value="" />
            <div class="modal-footer">
                <span id="deletetext" style="color:red"></span>
                <a class="btn btn-danger btn-ok float-left" onclick="newsDelete()">Yes</a>
                <a asp-action="Index" asp-controller="News" class="btn btn-outline-light">Close</a>

            </div>







        </div>

    </div>


</div>-->
