
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- vendor css -->
<!-- az-header -->

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">

        <div class="az-content-body pd-lg-l-40 d-flex flex-column">






            <hr class="mg-y-30">



            <div>
                <table id="example2" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Sergen</th>
                            <th>Dogancan</th>
                            <th>Fatih</th>
                            <th>Edit</th>
                            <th>Delete</th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>Edinburgh</td>
                            <td>Edinburgh</td>
                            <td>Edinburgh</td>
                            <td><a href="#">Edit</a> </td>
                            <td><a href="#">Delete</a> </td>
                        </tr>
                        
                       
                    </tbody>
                </table>
            </div>



            <div class="ht-40"></div>


        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->





