


<div class="modal" id="deletesocialmediapopup" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-">
                <h3 style="color:black ">Emin misiniz?</h3>
            </div>
            <input type="text" name="name" id="socialmediaid" style="display:none" value="" />

            <div class="modal-footer">
                <span id="deletetext" style="color:red"></span>
                @*<a class="btn btn-indigo btn-ok float-left" onclick="DeleteSocialMedia()" value="Evet"></a>*@
                <input type="submit" onclick="DeleteSocialMedia()" class="btn btn-indigo " value="Evet" />
                <a asp-action="Index" asp-controller="SocialMedia" class="btn btn-outline-light">Kapat</a>

            </div>







        </div>

    </div>


</div>