

<div id="updatesocialmediapopup" class="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Update SocialMedia</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <input type="type" name="id" id="socialid" style="display:none" />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="socialname" name="name">
                    </div>



                </div>

                @*<div class="form-group row">
            <label class="col-sm-2 col-form-label">IsVisible</label>
            <div class="col-sm-10">
                <label class="rdiobox">
                    <input id="isvisible" name="rdio" type="radio" value="false">
                    <span>Radio Unchecked</span>
                </label>
            </div>



        </div>*@

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">IsVisible</label>
                    <div class="col-sm-10">
                        <select id="visible" class="form-control select2">

                            <option>True</option>
                            <option>False</option>

                        </select>
                    </div>



                </div>







                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Href</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="hrefurl" name="href">
                    </div>



                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Icon</label>
                    <div class="col-sm-10">
                        <div class="row row-sm">
                            <div class="col-sm-7 col-md-6 col-lg-4">
                                <div class="custom-file">
                                    <input type="file" id="logoicon" />

                                </div>
                            </div><!-- col -->
                        </div><!-- row -->

                    </div>



                </div>








            </div><!-- modal-body -->
            <div class="modal-footer">
                <input type="submit" onclick="SocialMediaUpdate()" class="btn btn-info " value="Update" />
                @*<button type="submit" id="addsetting" class="btn btn-indigo">Add</button>*@
                <a asp-action="Index" asp-controller="SocialMedia" class="btn btn-outline-light">Close</a>
            </div>
        </div>
    </div>
</div>
