


<div class="modal" id="deletestaticpagepopup" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-">
                <h3 style="color:black ">Emin misiniz?</h3>
            </div>
            <input type="text" name="name" id="deletepageid" style="display:none" value="" />

            <div class="modal-footer">
                <span id="deletetext" style="color:red"></span>
                <button class="btn btn-indigo btn-ok float-left" onclick="StaticPageDelete()" value="Evet">Evet</button>
                <a asp-action="Index" asp-controller="StaticPage" class="btn btn-outline-light">Kapat</a>

            </div>







        </div>

    </div>


</div>