@model SettingDto
@{
    ViewData["Title"] = "Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="container" style="margin-top:35px;">
        <a class="btn btn-primary" id="updateSettings" style="width:180px;  background-color:#5b47fb"><strong style="color:white">Değişiklikleri Kaydet</strong> </a>
    </div>*@
<input type="text" id="settingid" style="display:none;" value="@Model.Id" />

<div class="container" style="margin-top:50px; margin-bottom:50px;">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-12">
            <div class="card card-body pd-40">
               
                <div class="row" style="margin-top:-25px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">ŞİRKET ADI</label>
                            <input class="form-control"  type="text" id="companyname"  value="@Model.CompanyName">
                        </div><!-- form-group -->
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">SLOGAN</label>
                            <div class="pos-relative">
                                <input class="form-control pd-r-80" id="companyslogan" type="text" value="@Model.Slogan">

                            </div>
                        </div><!-- form-group -->
                    </div>
                </div>
                <div class="row" style="margin-top:25px;">
                    <div class="col-md-6">
                       
                        <div class="card" style="width: 13rem; float:right">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">FAVIKON</label>
                            <img class="card-img-top" src="~/img/@Model.FavIconUrl" style="width:205px; height:180px;">
                            <div class="card-footer">
                                <div class="input-group mb-3">
                                    @*<div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Kaydet</button>
                </div>*@
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="favicon" name="logo">
                                        <label class="custom-file-label" for="logo">Dosya seç</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="card" style="width: 13rem; float:left">
                            <label class="az-content-label tx-11 tx-medium tx-gray-600">LOGO</label>
                            <img class="card-img-top" src="~/img/@Model.LogoUrl" style="width:205px; height:180px;">
                            <div class="card-footer">
                                <div class="input-group mb-3">
                                    @*<div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Kaydet</button>
                </div>*@
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="logourl" name="logo">
                                        <label class="custom-file-label" for="logo">Dosya seç</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>





                    <button class="btn btn-indigo"  id="updateSettings" style="margin-top:40px; margin-left:20%; margin-right:20%;">Değişiklikleri Kaydet</button>
                </div><!-- card -->
            </div><!-- col -->
    </div>

</div>







@section Section{


    <script>
            function getById(id) {
                $.ajax({
                    url: "/Setting/GetSettingById",
                    type: "Get",
                    contentType: "application/json; charset=utf8",
                    dataType: "json",
                    data: {
                        Id: id
                    },
                    success: function (data) {

                        $("#settingid").val(data.Id);
                        $("#companyname").val(data.CompanyName);
                        $("#companyslogan").val(data.Slogan);
                        $("#favicon").val(data.FavIconUrl);
                        $("#logourl").val(data.LogoUrl);

                    }
                })
            }
        </script>

    <script>


        $("#updateSettings").click(function () {


            let settingid = $("#settingid").val();
            let CompanyName = $("#companyname").val();
            let slogan = $("#companyslogan").val();
            let filefavicon = $("#favicon")[0].files[0];
            let filelogo = $("#logourl")[0].files[0];

            let formData = new FormData();
            formData.append("Id", settingid);
            formData.append("CompanyName", CompanyName);
            formData.append("Slogan", slogan);

            if (filefavicon != null) {
                formData.append("file", filefavicon, filefavicon.fileName)
            }

            if (filelogo != null) {
                formData.append("FileLogo", filelogo, filelogo.fileName)

            }

            $.ajax({
                type: "put",
                url: "/Setting/UpdateSetting",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response) {

                        $.ajax({
                            url: "/Setting/Index",
                            type: "get",
                            dataType: "html",
                            contentType: "application/json; ",
                            success: function (data) {


                                $("#tableBody").html(data);
                            }
                        });

                    }

                },

                error: function () {
                    console.log("Hata Oluştu");
                }
            })


        });

    </script>

    <script>

        function SettingDeleteShow(id) {
            // debugger;
            $("#settingid").val(id);
        }
    </script>
    <script>

        function SettingDelete() {
            let id = $(settingid).val();
            $.ajax({
                type: "delete",
                url: "/Setting/DeleteSetting",
                data: {
                    Id: id

                },
                success: function (response) {
                    if (response) {
                        swal("Setting Deleted!", "", "success");
                    }

                },
                error: function () {
                    console.log("Hata Oluştu");
                }
            })
        }
    </script>

    <script>
        $(function () {
            $("#addsetting").click(function () {
                let CompanyName = $("#addcompanyname").val();
                let slogan = $("#addcompanyslogan").val();
                let filefavicon = $("#addfavicon")[0].files[0];
                let filelogo = $("#addlogo")[0].files[0];

                let formData = new FormData();
                formData.append("CompanyName", CompanyName);
                formData.append("Slogan", slogan);

                if (filefavicon != null) {
                    formData.append("file", filefavicon, filefavicon.fileName)
                }

                if (filelogo != null) {
                    formData.append("FileLogo", filelogo, filelogo.fileName)

                }

                $.ajax({
                    type: "post",
                    url: "/Setting/AddSetting",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response) {
                            swal("Setting Added!", "", "success");
                        }
                    }

                });

            });

        });
    </script>



}
