
<div class="modal" id="deleteslidermodal" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-">
                <h3 style="color:black ">Emin misiniz?</h3>
            </div>
            <input type="text" name="name" id="sliderid" style="display:none" value="" />

            <div class="modal-footer">
                <span id="deletetext" style="color:red"></span>
                
                <input type="submit" onclick="sliderDelete()" class="btn btn-danger " value="Evet" />
                <a asp-action="Index" asp-controller="Slider" class="btn btn-outline-light">Kapat</a>

            </div>







        </div>

    </div>


</div>