<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130582519-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-130582519-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@@themepixels">
    <meta name="twitter:creator" content="@@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Azia">
    <meta name="twitter:description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="twitter:image" content="http://themepixels.me/azia/img/azia-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/azia">
    <meta property="og:title" content="Azia">
    <meta property="og:description" content="Responsive Bootstrap 4 Dashboard Template">

    <meta property="og:image" content="http://themepixels.me/azia/img/azia-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/azia/img/azia-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="ThemePixels">

    <title>SDFM CMS</title>

    <!-- vendor css -->
    <link href="~/Template/v1.1/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Template/v1.1/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Template/v1.1/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="~/Template/v1.1/lib/lightslider/css/lightslider.min.css" rel="stylesheet">
    <link href="~/Template/v1.1/lib/cryptofont/css/cryptofont.min.css" rel="stylesheet">
    <link href="~/Template/v1.1/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Template/v1.1/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/Template/v1.1/lib/select2/css/select2.min.css" rel="stylesheet">

    <link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css " rel="stylesheet">











    <!-- azia CSS -->
    <link rel="stylesheet" href="~/Template/v1.1/css/azia.css">

</head>
<body class="az-minimal">

    <div class="az-header">
        <div class="container">
            <div class="az-header-left">
                <a asp-action="Index" asp-controller="HomePage" class="az-logo"><span></span>SDFM</a>
                <a asp-action="Index" asp-controller="HomePage" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
            </div><!-- az-header-left -->
            <div class="az-header-menu">
                <div class="az-header-menu-header">
                    <a asp-action="Index" asp-controller="HomePage" class="az-logo"><span></span> SDFM </a>
                    <a href="" class="close">&times;</a>
                </div><!-- az-header-menu-header -->
                <ul class="nav">
                    <li class="nav-item ">
                        <a asp-action="Index" asp-controller="StaticPage" class="nav-link ">@*<i class="icon ion-ios-list-box"></i>*@Sayfa Yönetimi</a>
                        @*<div class="az-menu-sub">
                            <nav class="nav">
                                <a href="dashboard-one.html" class="nav-link">CreatePage</a>*@
                        @*<a href="dashboard-one.html" class="nav-link">PageCategory</a>*@
                        @*<a href="dashboard-two.html" class="nav-link">sales monitoring</a>
                            <a href="dashboard-three.html" class="nav-link">ad campaign</a>
                            <a href="dashboard-four.html" class="nav-link">event management</a>
                            <a href="dashboard-five.html" class="nav-link">helpdesk management</a>
                            <a href="dashboard-six.html" class="nav-link">finance monitoring</a>
                            <a href="dashboard-seven.html" class="nav-link active">cryptocurrency</a>
                            <a href="dashboard-eight.html" class="nav-link">executive / saas</a>
                            <a href="dashboard-nine.html" class="nav-link">campaign monitoring</a>
                            <a href="dashboard-ten.html" class="nav-link">Product Management</a>*@
                        <!--</nav>
                        </div>-->
                        <!-- az-menu-sub -->
                    </li>
                    <li class="nav-item ">
                        <a asp-action="Index" asp-controller="SocialMedia" class="nav-link ">@*<i class="icon ion-ios-person"></i>*@Sosyal Medya</a>
                    </li>
                    <li class="nav-item ">
                        <a asp-action="Index" asp-controller="Address" class="nav-link ">@*<i class="icon ion-md-globe"></i>*@Adres</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link with-sub">@*<i class="icon ion-md-paper"> <br /></i>*@ Haber </a>
                        <nav class="az-menu-sub">
                            <a asp-action="Index" asp-controller="News" class="nav-link">Tüm Haberler</a>
                            <a asp-action="Index" asp-controller="NewsCategory" class="nav-link">Haber Kategorileri</a>
                            @*<a href="app-calendar.html" class="nav-link">Products</a>
                                <a href="app-contacts.html" class="nav-link">Solutions</a>
                                <a href="app-contacts.html" class="nav-link">Board of Directors</a>
                                <a href="app-contacts.html" class="nav-link">References</a>*@
                        </nav>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link with-sub ">@*<i class="icon ion-md-cube"></i>*@Componentler</a>
                        <nav class="az-menu-sub">
                            <a asp-action="Index" asp-controller="PageComponent" class="nav-link">Component Listesi</a>
                            <a asp-action="Index" asp-controller="PageComponentCategory" class="nav-link">Component Kategorisi</a>
                            @*<a href="page-signin.html" class="nav-link">Sign In</a>
                                <a href="page-signup.html" class="nav-link">Sign Up</a>
                                <a href="page-404.html" class="nav-link">Page 404</a>*@
                        </nav>
                    </li>
                    <!--<li class="nav-item">
                    <a href="" class="nav-link with-sub"><i class="typcn typcn-book"></i> Components</a>
                    <div class="az-menu-sub az-menu-sub-mega">
                        <div class="container">
                            <div>
                                <nav class="nav">
                                    <span>UI Elements</span>
                                    <a href="elem-accordion.html" class="nav-link">Accordion</a>
                                    <a href="elem-alerts.html" class="nav-link">Alerts</a>
                                    <a href="elem-avatar.html" class="nav-link">Avatar</a>
                                    <a href="elem-badge.html" class="nav-link">Badge</a>
                                    <a href="elem-breadcrumbs.html" class="nav-link">Breadcrumbs</a>
                                    <a href="elem-buttons.html" class="nav-link">Buttons</a>
                                    <a href="elem-cards.html" class="nav-link">Cards</a>
                                    <a href="elem-carousel.html" class="nav-link">Carousel</a>
                                </nav>
                                <nav class="nav">
                                    <a href="elem-collapse.html" class="nav-link">Collapse</a>
                                    <a href="elem-dropdown.html" class="nav-link">Dropdown</a>
                                    <a href="elem-icons.html" class="nav-link">Icons</a>
                                    <a href="elem-images.html" class="nav-link">Images</a>
                                    <a href="elem-list-group.html" class="nav-link">List Group</a>
                                    <a href="elem-media-object.html" class="nav-link">Media Object</a>
                                    <a href="elem-modals.html" class="nav-link">Modals</a>
                                    <a href="elem-navigation.html" class="nav-link">Navigation</a>
                                </nav>
                                <nav class="nav">
                                    <a href="elem-pagination.html" class="nav-link">Pagination</a>
                                    <a href="elem-popover.html" class="nav-link">Popover</a>
                                    <a href="elem-progress.html" class="nav-link">Progress</a>
                                    <a href="elem-spinners.html" class="nav-link">Spinners</a>
                                    <a href="elem-toast.html" class="nav-link">Toast</a>
                                    <a href="elem-tooltip.html" class="nav-link">Tooltip</a>
                                </nav>
                            </div>
                            <div>
                                <nav class="nav">
                                    <span>Forms</span>
                                    <a href="form-elements.html" class="nav-link">Form Elements</a>
                                    <a href="form-layouts.html" class="nav-link">Form Layouts</a>
                                    <a href="form-validation.html" class="nav-link">Form Validation</a>
                                    <a href="form-wizards.html" class="nav-link">Form Wizards</a>
                                    <a href="form-editor.html" class="nav-link">WYSIWYG Editor</a>
                                </nav>
                            </div>
                            <div>
                                <nav class="nav">
                                    <span>Charts</span>
                                    <a href="chart-morris.html" class="nav-link">Morris Charts</a>
                                    <a href="chart-flot.html" class="nav-link">Flot Charts</a>
                                    <a href="chart-chartjs.html" class="nav-link">ChartJS</a>
                                    <a href="chart-sparkline.html" class="nav-link">Sparkline</a>
                                    <a href="chart-peity.html" class="nav-link">Peity</a>
                                </nav>
                            </div>
                            <div>
                                <nav class="nav">
                                    <span>Maps</span>
                                    <a href="map-google.html" class="nav-link">Google Maps</a>
                                    <a href="map-leaflet.html" class="nav-link">Leaflet</a>
                                    <a href="map-vector.html" class="nav-link">Vector Maps</a>
                                    <span>Tables</span>
                                    <a href="table-basic.html" class="nav-link">Basic Tables</a>
                                    <a href="table-data.html" class="nav-link">Data Tables</a>
                                </nav>
                            </div>
                        </div>-->
                    <!-- container -->
                    <!--</div>
                    </li>-->
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Slider" class="nav-link ">@*<i class="icon ion-md-images"></i>*@ Slider</a>
                        @*<nav class="az-menu-sub">
                            <a href="util-background.html" class="nav-link">Sliders</a>*@
                        @*<a href="util-border.html" class="nav-link">Border</a>
                            <a href="util-display.html" class="nav-link">Display</a>
                            <a href="util-flex.html" class="nav-link">Flex</a>
                            <a href="util-height.html" class="nav-link">Height</a>
                            <a href="util-margin.html" class="nav-link">Margin</a>
                            <a href="util-padding.html" class="nav-link">Padding</a>
                            <a href="util-position.html" class="nav-link">Position</a>
                            <a href="util-typography.html" class="nav-link">Typography</a>
                            <a href="util-width.html" class="nav-link">Width</a>
                            <a href="util-extras.html" class="nav-link">Extras</a>*@
                        @*</nav>*@
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Setting" class="nav-link ">@*<i class="icon ion-ios-settings"></i>*@ Ayarlar</a>
                        @*<nav class="az-menu-sub">
                            <a href="util-background.html" class="nav-link">Sliders</a>*@
                        @*<a href="util-border.html" class="nav-link">Border</a>
                            <a href="util-display.html" class="nav-link">Display</a>
                            <a href="util-flex.html" class="nav-link">Flex</a>
                            <a href="util-height.html" class="nav-link">Height</a>
                            <a href="util-margin.html" class="nav-link">Margin</a>
                            <a href="util-padding.html" class="nav-link">Padding</a>
                            <a href="util-position.html" class="nav-link">Position</a>
                            <a href="util-typography.html" class="nav-link">Typography</a>
                            <a href="util-width.html" class="nav-link">Width</a>
                            <a href="util-extras.html" class="nav-link">Extras</a>*@
                        @*</nav>*@
                    </li>
                </ul>
            </div><!-- az-header-menu -->
            <div class="az-header-right">
                <!--<a href="" class="az-header-search-link"><i class="fas fa-search"></i></a>
                <div class="az-header-message">
                    <a href="app-chat.html"><i class="typcn typcn-messages"></i></a>
                </div>-->
                <!-- az-header-message -->
                <!--<div class="dropdown az-header-notification">
                    <a href="" class="new"><i class="typcn typcn-bell"></i></a>
                    <div class="dropdown-menu">
                        <div class="az-dropdown-header mg-b-20 d-sm-none">
                            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                        </div>
                        <h6 class="az-notification-title">Notifications</h6>
                        <p class="az-notification-text">You have 2 unread notification</p>
                        <div class="az-notification-list">
                            <div class="media new">
                                <div class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></div>
                                <div class="media-body">
                                    <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                                    <span>Mar 15 12:32pm</span>
                                </div>-->
                <!-- media-body -->
                <!--</div>--><!-- media -->
                <!--<div class="media new">
                    <div class="az-img-user online"><img src="https://via.placeholder.com/500" alt=""></div>
                    <div class="media-body">
                        <p><strong>Joyce Chua</strong> just created a new blog post</p>
                        <span>Mar 13 04:16am</span>
                    </div>-->
                <!-- media-body -->
                <!--</div>--><!-- media -->
                <!--<div class="media">
                    <div class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></div>
                    <div class="media-body">
                        <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                        <span>Mar 13 02:56am</span>
                    </div>-->
                <!-- media-body -->
                <!--</div>--><!-- media -->
                <!--<div class="media">
                    <div class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></div>
                    <div class="media-body">
                        <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                        <span>Mar 12 10:40pm</span>
                    </div>-->
                <!-- media-body -->
                <!--</div>--><!-- media -->
                <!--</div>--><!-- az-notification-list -->
                <!--<div class="dropdown-footer"><a href="">View All Notifications</a></div>
                </div>-->
                <!-- dropdown-menu -->
                <!--</div>--><!-- az-header-notification -->
                <!--<div class="dropdown az-profile-menu">
                    <a href="" class="az-img-user"><img src="https://via.placeholder.com/500" alt=""></a>
                    <div class="dropdown-menu">
                        <div class="az-dropdown-header d-sm-none">
                            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                        </div>
                        <div class="az-header-profile">
                            <div class="az-img-user">
                                <img src="https://via.placeholder.com/500" alt="">
                            </div>
                            <h6>Aziana Pechon</h6>
                            <span>Premium Member</span>
                        </div>

                        <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                        <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                        <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
                        <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
                        <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
                    </div>-->
                <!-- dropdown-menu -->
                <!--</div-->
            </div><!-- az-header-right -->
        </div><!-- container -->
    </div><!-- az-header -->

    @RenderBody()


    <div class="az-footer ht-40">
        <div class="container pd-t-0-f ht-100p">
            <span>&copy; CMS</span>
            <span>Designed by: SDFM</span>
        </div><!-- container -->
    </div><!-- az-footer -->


    <script src="~/Template/v1.1/lib/jquery/jquery.min.js"></script>
    <script src="~/Template/v1.1/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/v1.1/lib/ionicons/ionicons.js"></script>
    <script src="~/Template/v1.1/lib/lightslider/js/lightslider.min.js"></script>
    <script src="~/Template/v1.1/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Template/v1.1/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/Template/v1.1/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Template/v1.1/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="~/Template/v1.1/lib/select2/js/select2.min.js"></script>

   

    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>

    <script src="~/Template/v1.1/js/azia.js"></script>



    <script>
        $(function () {
            'use strict'


            $('#navComplex').lightSlider({
                autoWidth: true,
                pager: false,
                slideMargin: 3,
                onSliderLoad: function (el) {
                    $('.lSPrev').addClass('disabled');
                },
                onBeforeSlide: function (el) {
                    var curSlide = el.getCurrentSlideCount();
                    var totalSlide = el.getTotalSlideCount();

                    if (curSlide === 1) {
                        $('.lSPrev').addClass('disabled');
                    } else {
                        $('.lSPrev').removeClass('disabled');
                    }

                    if ((totalSlide - 3) === curSlide) {
                        $('.lSNext').addClass('disabled');
                    } else {
                        $('.lSNext').removeClass('disabled');
                    }
                }
            });

            $('.az-nav-tabs .tab-link').on('click', function (e) {
                e.preventDefault();
                $(this).addClass('active');
                $(this).parent().siblings().find('.tab-link').removeClass('active');

                var target = $(this).attr('href');
                $(target).addClass('active');
                $(target).siblings().removeClass('active');
            })


        });



        $(function () {
            'use strict'

            $('#example1').DataTable({
                responsive: true,
                language: {

                    searchPlaceholder: 'Ara...',
                    sSearch: '',
                    lengthMenu: '_MENU_ adet/sayfa',
                }
            });

            $('#example2').DataTable({
                responsive: true,
                language: {
                    searchPlaceholder: 'Ara...',
                    sSearch: '',
                    lengthMenu: '_MENU_ adet/sayfa',
                }
            });

            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

        });


    </script>
    @RenderSection("xx", required: false)
</body>
</html>
