

<div class="modal fade" id="deletedComponentCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Silinen Kategoriyle Bağlantılı Komponentler Var!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="categoryId" />
                <div class="row">
                    <div class="col-md-12">
                        <p class="form-control-range">Sileceğiniz kategoriye ait komponentler için yeni bir kategori seçmeniz gerekmektedir.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Silinecek Kategori:</strong></p>
                    </div>
                    <div class="col-md-4">

                        <input readonly id="deletedCategory" />


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Atanacak Kategori Seçiniz:</strong></p>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control" id="otherCategories">
                            @foreach (var item in ViewBag.ComponentCategories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }


                        </select>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" id="btn-remove-assign" class="btn btn-sm btn-indigo">Sil ve Güncelle</button>
            </div>
        </div>
    </div>
</div>