

<div class="modal" id="deletepagecategorypopup" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-">
                <h3 style="color:black ">Are You Sure?</h3>
            </div>
            <input type="text" name="name" id="componentcategoryid" style="display:none" value="" />

            <div class="modal-footer">
                <span id="deletetext" style="color:red"></span>
                <a class="btn btn-indigo btn-ok float-left" onclick="ComponentCategoryDelete()">Yes</a>
                <a asp-action="Index" asp-controller="PageComponentCategory" class="btn btn-outline-light">Close</a>

            </div>







        </div>

    </div>


</div>